* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

/* body {
  height: 100vh;
  width: 100vw;
} */

.main-container {
  display: flex;
  padding: 20px 2%;
  max-width: 1250px;
  margin: 50px auto 0;
  justify-content: flex-end;
}

/* SIDEBAR */
.filter-sidebar {
  width: 16%;
}

.sizes-heading {
  margin-bottom: 20px;
}

.size-buttons {
  width: 37px;
  height: 37px;
  position: relative;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
  left: 10px;
  font-size: 10px;
}

.buttons-top-row {
  margin-bottom: 10px;
}

.star-review-container {
  margin-top: 10px;
  text-align: center;
  
}

.star-review {
  color: #B2B2B2;
  font-size: 12px;
}

.star-btn {
  display: inline-block;
  margin-top: 10px;
}

.star-widget {
  height: 20px;
  padding: 5px 12px;
  font-size: 12px;
  line-height: 20px;
  background: #eff3f6;
  text-decoration: none;
  color: #24292e;
  font-weight: 600;
  border: solid 1px #D2D2D3;
  border-radius: .25em 0 0 .25em;
}

.likes-widget {
  height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 20px;
  background: #fff;
  text-decoration: none;
  color: #24292e;
  font-weight: 600;
  border: solid 1px #D2D2D3;
  border-left: none;
  border-radius: 0 .25em .25em 0;
}

/* PRODUCTS-LIST-HEADING */
.products-list-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.products-count {
  font-size: 13px;
}

.selectDown {
  height: 35px;
  width: 140px;
  border: 1px solid #ECECEC;
}

/* PRODUCTS CONTENT */
.products-list-container {
  width: 85%;
  min-height: 600px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-list-item {
  height: 565px;
  width: 25%;
  padding: 10px;
  margin-bottom: 30px;
  background-position-y: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  position: relative;
  border: solid 1px transparent;
}

.product-list-item:hover {
  cursor: pointer;
  border: 1px solid #eee;
}

/* BUTTON COLOR CHANGE WHEN HOVER OVER LIST-ITEM */
.product-list-item:hover .cart-btn {
  background-color: #eabf00;
}

.free-shipping {
  height: 20px;
  width: 30%;
  background-color: black;
  color: #ececec;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-title {
  height: 45px;
  padding: 0 20px;
  margin: 10px 0;
  position: relative;
}

/* PSEUDO-CLASS TO CREATE SMALL YELLOW LINE UNDER TITLE */
.item-title:before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #eabf00;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

.item-price {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-btn {
  padding: 15px 0;
  background-color: #1b1a20;
  color: #fff;
  font-size: 16px;
  border: none;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
}

.dollar-sign {
  font-size: 80%;
}

.first-price {
  font-size: 24px;
  font-weight: 600;
}

.installments {
  color: #9c9b9b;
}

.installments-price {
  font-weight: bold;
}

/* CART PAGE */
.float-cart {
  position: relative;
  top: 0;
  right: 50px;
  padding: 10px;
  height: 50px;
  width: 50px;
  background: #1B1A20;
  color: white;
}

.float-cart-btn {
  background: #1B1A20;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.hidden-cart {
  width: 450px;
  height: 100%;
  top: 0;
  right: -450px;
  position: fixed;
  background: #1B1A20;
  transition: .4s;
}

.show-cart {
  width: 450px;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  background: #1B1A20;
  transition: .4s;
}

.cart-content {
  height: 100%;
  overflow: scroll;
}

.cart-content-header {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 60px;
}

.cart-empty {
  text-align: center;
  color: white;
  min-height: 280px;
}

.cart-not-empty {
  color: #1B1A20;
}

.cart-items {
  position: relative;
  color: white;
  display: flex;
  padding: 5%;
}

.cart-items:before {
  content: "";
  width: 90%;
  height: 2px;
  background-color: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  left: 5%;
}

.item-image {
  vertical-align: middle;
  width: 15%;
  margin-right: 3%;
}

.cart-item-delete {
  width: 16px;
    height: 16px;
    top: 15px;
    right: 5%;
    border-radius: 50%;
    position: absolute;
    background-size: auto 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAOCAYAAADT0Rc6AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2hpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMzgwMTE3NDA3MjA2ODExODA4MzlFRjgwMkJGMENDMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0NzRFMzQ0QjI3MzgxMUU4QjRFMUVBNEJCODU5RDAzMSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0NzRFMzQ0QTI3MzgxMUU4QjRFMUVBNEJCODU5RDAzMSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChNYWNpbnRvc2gpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RUE3RjExNzQwNzIwNjgxMUIxQTQ5QTgyNkJBMzJBOEUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDM4MDExNzQwNzIwNjgxMTgwODM5RUY4MDJCRjBDQzEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5cNiR0AAAA50lEQVR42qSUaw6EMAiEYY8rB7JcVrYoNaQCNbsk88N2ypc+HICrtq69CyEvNM8mIuCk33sXTuNeaJ5zrRZ1HV361RIw2pyYd4Cp65CrWgJGmxPz6gbvZpKAMfJYw9FMEjBGntGUE3AEVC+6ppyAI6B60e8mAldAWIBD4LjTCvwAqjG5txkcAmdoBWZ/z8UL5RVQ9YF3JfB7lWtXx9v+ON4WHW8E5GTszUPiZOx+SBkQq7kFEKs5yH6LxbFn4cBBOHAUDj4GuYhBdjFIQQxyEYPsYpBGUypyd45DmppSkbtzHJ5rvwIMAKXLCXxfiHXkAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
}

.item-description {
  width: 57%;
  margin-top: 20px;
}

.item-style {
  color: #5B5A5E;
}

.item-quantity {
  color: #5B5A5E;
}

.cart-item-price {
  color: #eabf00;
  text-align: right;
  width: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-quantity-btn {
  color: #b7b7b7;
  border: 0;
  background-color: #000;
  width: 25px;
  height: 25px;
  margin-top: 15px;
  outline: none;
  cursor: pointer;
}

.disabled {
  opacity: .2;
}

.cart-total-container {
  background-color: #1b1a20;
  padding: 5%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 2;
}

.cart-total-container:before {
  content: "";
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  background: linear-gradient(0deg,rgba(0,0,0,.2),transparent);
}

.subtotal {
  color: #5b5a5e;
  vertical-align: middle;
  display: inline-block;
}

.subtotal-price {
  width: 80%;
  text-align: right;
  vertical-align: middle;
  display: inline-block;
}

.subtotal-price p {
  color: #eabf00;
  font-size: 22px;
}

.checkout-btn {
  background-color: #0c0b10;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  cursor: pointer;
  color: #ececec;
}

.checkout-btn:hover {
  background-color: black;
}
