* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
  padding: 20px 2%;
  max-width: 1200px;
  margin: 50px auto 0;
  justify-content: flex-end;
}

.container {
  display: flex;
  width: 85%;
  min-height: 600px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.product-list-item {
  height: 500px;
  width: 25%;
  padding: 10px;
  margin-bottom: 30px;
  background-position-y: 10px;
  background-size: 90%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.item-title {
  margin-bottom: 30px;
}

.item-price {
  margin-bottom: 30px;
}

.cart-btn {
  padding: 15px 0;
  background-color: #1b1a20;
  color: #fff;
}